meta {
  -theme-display-name: "Base16 - Tomorrow Night";
  -theme-interface-style: dark;
  -theme-accent-color: true;
}

// Colors
$base00: #1d1f21;  //base00
$base01: #282a2e;  //base01
$base02: #373b41;  //base02
$base03: #969896;  //base03
$base04: #b4b7b4;  //base04
$base05: #c5c8c6;  //base05
$base06: #e0e0e0;  //base06
$base07: #ffffff;  //base07
$red: #cc6666;    //base08
$orange: #de935f; //base09
$yellow: #f0c674; //base0A
$green: #b5bd68;  //base0B
$cyan: #8abeb7;   //base0C
$blue: #81a2be;   //base0D
$magenta: #b294bb;//base0E
$brown: #a3685a;  //base0F

/*
 * Window styles
 */

meta.window {
  border-color: $base01;
  background-color: $base00;
}

meta.titlebar {
  color: $base04;
  border-color: $base02;
  background-color: $base00;
}
meta.titlebar.inactive {
  background-color: $base01;
}

meta.button {
  background: $base02;
  border: $base03;
  color: $base04;
}

meta.button.highlighted {
  background: $base03;
  border: $base04;
  color: $base06;
}

meta.button.selected {
  background: $base01;
  border: $base02;
  color: $base06;
}

meta.button.highlighted.selected {
  background: $base01;
  border: $base02;
  color: $base04;
}

meta.button.disabled {
}

meta.textfield {
  background-color: $base00;
  border-color: $base02;
  color: $base05;
}
meta.textfield.highlighted {
  background-color: $base00;
  border-color: $base01;
  color: $base05;
}

/* Text */
meta.text {
  color: $base05;
}
meta.text.invisible {
  color: $base03;
}
meta.text.selected {
  background-color: $base02;
}

/* Cursor */
meta.cursor {
  background-color: $base02;
}

/* Indentation Guides */
meta.indentguide {
  border-color: $base03;
}

/* Gutter */
meta.gutter {
  color: $base03;
}
meta.gutter.selected {
  background-color: $base02;
  color: $base04;
}

/*
 * Syntax styles
 */

keyword {
  color: $magenta;
}
comment {
  color: $base03;
}
processing {
  color: $magenta;
}
declaration {
  color: $magenta;
}
bracket {
  color: $base05;
}
operator {
  color: $base05;
}
invalid {
  background-color: $red;
  color: white;
}
link {
  color: $blue;
}

/* Values */
value.boolean {
  color: $orange;
}
value.null {
  color: $orange;
}
value.number {
  color: $orange;
}
value.entity {
  color: $orange;
}
value.symbol {
  color: $orange;
}

/* Identifiers */
identifier.type {
  color: $yellow;
}
identifier.constant {
  color: $cyan;
}
identifier.global {
  color: $base05;
}
identifier.variable {
  color: $red;
}
identifier.decorator,
identifier.function,
identifier.method {
  color: $blue;
}
identifier.property {
  color: $red;
}
identifier.key {
  color: $base05;
}
identifier.argument {
  color: $red;
}

/* Strings */
string {
  color: $green;
}
string.key {
  color: $green;
}
string-template {
  color: $base06;
}
string-template.value {
  color: $green;
}
regex {
  color: $cyan;
}
regex.escaped {
  color: $cyan;
}
cdata {
  color: $base05;
}

/* Markup */
markup.heading {
  color: $blue;
}
markup.line {
  color: $blue;
}
markup.bold {
  color: $yellow;
  font-weight: bold;
}
markup.italic {
  color: $magenta;
  font-style: italic;
}
markup.strikethrough {
  color: $green;
}
markup.list.item {
  color: $red;
}
markup.code {
  color: $base04;
}
markup.link {
  color: $blue;
}

/* Types */
definition.class class.name,
definition.type type.name,
definition.package package.name,
definition.enum enum.name,
definition.union union.name,
definition.struct struct.name {
  color: $magenta;
}

/* Members */
definition.property property.name,
definition.function function.name,
definition.method method.name {
  color: $magenta;
}

/* Tags */
tag {
  color: $base05;
}
tag.name {
  color: $red;
}
tag.framework {
  color: $brown;
}
tag.attribute.name {
  color: $orange;
}
tag.attribute.value {
  color: $green;
}
tag.attribute.value.link {
  color: $blue;
}

/* Styles */
style.at {
  color: $magenta;
}
style.selector.element {
  color: $red;
}
style.selector.identifier.id {
  color: $blue;
}
style.selector.identifier.class {
  color: $orange;
}
style.selector.pseudoclass {
  color: $orange;
}
style.selector.pseudoelement {
  color: $orange;
}
style.attribute.name {
  color: $base05;
}
style.value.number {
  color: $orange;
}
style.value.color.hex {
  color: $cyan;
}
style.value.keyword {
  color: $magenta;
}
style.value.color.named {
  color: $blue;
}
style.value.identifier.function {
  color: $cyan;
}

/* Terminal */

terminal.black,
terminal.bright-black {
  color: $base00;
}

terminal.red,
terminal.bright-red {
  color: $red;
}

terminal.green,
terminal.bright-green {
  color: $green;
}

terminal.yellow,
terminal.bright-yellow {
  color: $yellow;
}

terminal.blue,
terminal.bright-blue {
  color: $blue;
}

terminal.magenta,
terminal.bright-magenta {
  color: $magenta;
}

terminal.cyan,
terminal.bright-cyan {
  color: $cyan;
}

terminal.white,
terminal.bright-white {
  color: $base05;
}
